body{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 95%);
}

h1{
    color: tomato;
}

form{
    background-color: hwb(0 100% 0%);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.5);
}

#textbox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsla(0, 0%, 0%, 0.8);
    border-radius: 4px;
    margin-bottom: 15px;
}

label{
    font-size: 1.5em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: blueviolet;
    color: whitesmoke;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: violet;
}
#hasil{
    font-size: 1.76em;
    font-weight: bold;
}
p a{
    text-decoration: none;
}
p a:visited{
    color: black;
}
p a:hover{
    color: orange;
}
